
html{
  height:100%;
  font-size: 62.5%;
  line-height: 1.7;
  scroll-behavior: smooth;
}
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 4rem;
}
p{
  font-size: 1.6rem;
  word-spacing: .1rem;

}
h3{
  font-size: 3rem !important;
}
h6{
  font-size: 2rem;
}

.headerMain_text{
  font-weight: bolder;
}
input:focus {
  outline:none;
  box-shadow: none;
}
.btn-outline-primary{
  border:none!important;
  color: #51b74b;
  font-size: 1.5rem;

}
.btn-outline-primary:hover{
  background: #013444;
}
.btn-outline-primary:focus{
  border:1px solid #013444;
}
.validateSearch{
  display:none;
  color: red;
}
.navbar {
  box-shadow: 0.2px 0.5px 2px rgba(0, 123, 255, 0.336);
  opacity: 0.9;
  background: #fff;
 }
  .navbar .nav-item {
    font-size: 1.6rem;
    padding-right: 1rem; 
    margin: 0.5rem;
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    }
    .navbar-light .navbar-nav .nav-link:hover {
    color: green;
    }

    #emailError,#email_error, #password_error,#comfirmPassword_error,#title_error,#comment_error{
    color:red;
    font-size: 1.5rem;
    letter-spacing: .5rem;
  }  
.signupPage{
  background:url(/images/signUpBg.png);
background-size: cover;
background-position: center;
}

.Mainpagination li a.active,
.Mainpagination li a:hover {
  background-color: #4ba6c3;
  color: #fff;
}


    .formBox{
      position: fixed;
    }

    .bs-example{
      margin: 20px;
    }
    .logo{
      font-weight: 800;
      color: #51b74b;
    }
    
    .icons{
      color: #8BB850;
    }
    .bgHover:hover{
      background-color: #013444dc;
      color: white !important;
      transition: all 0.5s ease;
    }
   .disabled{
     display: disabled !important;
   }
    .btn-primary{
      background:#013444dc!important; 
      border: none;
      font-size: 1.2rem;
      outline: none;
      border-radius: 30px;
      transition: all .2s;
      padding: .5rem 1rem;
    }
    .btn-primary:hover{
      transform: translateY(-3px);
      Box-shadow:0 10px 20px rgba(0,0,0,.2);
    }
    .btn-primary:active{
      transform: translateY(-1px);
      box-shadow: none;
      Box-shadow:0 5px 10px rgba(0,0,0,.2);
      outline: none;
    }
    .btn-primary:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
    .view{
      float: right;
    }
    .Explore{
      width: 45%;
      margin: 0 auto;
    }
    .searchbtn{
      height: 38px;
    }
    select.form-control:not([size]):not([multiple]) {
      height: calc(3.8rem + 2px);
  }
    .header{
      height: 100vh;
      /* background-image: linear-gradient(rgba(255, 255, 255, 0.920), rgba(255, 255, 255, 0.920)),
      url("../images/bgBig.jpg"); */
      background: url(../images/headerImg.jpg);
      
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .client_header{
      height: 80vh;
      background: linear-gradient(45deg, #2992d0, #51b74b); 
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      display:absolute;
      
    }
    .signupBtn{
      background: #C36C26 !important;
    }
    .signupBtn:hover{
      background:black !important;

    }
    .signupCard{
      background:rgba(0, 0, 0, 0.3);
    }
    .createAcc{
      cursor: pointer;
      font-size: 15px;
    }
    .createAcc:hover{
      text-decoration: underline;
    }
    .forgotPassword{
      cursor: pointer;
      font-size: 15px;
    }
    .forgotPassword:hover{
      text-decoration: underline;    }

    .Details_header{
      height: 80vh;
      background: linear-gradient(45deg, #2992d0, #51b74b); 
      position: relative;
    }
    .details_header-content{
      width: 40%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top:35%;
      left:30%;
      transform: translate(-50%, 50%);
    }
    .client_header-content{
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      bottom: 40%;
      left:10%;
      
    }
    .searchForm{
      background: rgba(0, 0, 0, 0.471);
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header_Content{
      /* width: 30%;
      height: 30%; */
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: absolute;
      top:30%;
      left:25%;
      transform: translate(-50%, 50%);
      background-color: white;
      padding: 20px;
      box-shadow: 58px 51px 31px -200px rgba(0,0,0,0.17);
      border-radius:20px;
    }
    label{
      font-size: 1.5rem;
      font-weight: 400;
    }
    .joblength{
      font-size: 2rem;
      letter-spacing: 0.4rem;
    }
    .header_Content{
      color: black;
    }
    .jobberHuntCard{
      margin-top: 100px;
    }
    .whiteHorizontal{
      background: #ED8E57;
      width: 50%;
    }
    .errspan {
      float: right;
      margin-right: 6px;
      margin-top: -30px;
      position: relative;
      z-index: 2;
      color: #ED8E57;
  }

  .titleIndex{
      color: #77BF6E;
      text-decoration: underline;
  }
  .successSignUpMsg{
    display: none;
    font-size: 2rem;
    font-weight: bolder;
    color:white;
    letter-spacing: .5rem;
  }
  .listU{

  }
  .deleteIcon{
    
  }
  .Header_input{
    height: 40px;
  }
  .Sign-up{
    color: #EA894D;
  }
  .helper{
    /* font-size: 1.5rem; */
  }
  .SearchBtn{
    
  }
  .valLogin{
    display:none;
  }
  #signUpError,#loginError,#paswordError{
    display: none;
    color:red;
    font-size: 1.5rem;
    letter-spacing: .5rem;
  }
  .contact-section{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background:#013444dc;

    clip-path: polygon(0 0, 100% 0, 100% 72%, 52% 100%, 0 71%);
  }
  .contact-container{
    width: 80%;
    margin: auto;
  }
  .has-error input[type="text"], .has-error input[type="email"]{
    border: 1px solid #a94442;
}
.hhhkj{
  display:none;
}
.jobsSection{
  height: auto;
  background:rgba(0, 0, 0, 0.068);
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemList{}
.featuresSection{
  height: auto; 
}
#main-footer {
  background: #000;
  color: #fff;
}

.allJobLength{
  font-size: 2rem;
}

.id{
  display: none;
}
.jobContainer{
  width: 80%;
  margin: auto;
}
 .whatWeDoContainer{
  width: 80%;
  margin: auto;
  
}
.teamContainer, .whatWeDoContainer{
  width: 80%;
  margin: auto;
}

.contactFormCard{
  background: #f7f7f734;
}
.list{
  cursor: pointer;
}


ul.filterList{
  width: 90%;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  margin: auto;
  grid-template-columns:auto auto auto ;
}

ul.list_all{
  width: 90%;
  margin: auto;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:auto auto auto ;
 
}
.itemList{

}

ul.list{
  width: 100%;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns:auto auto;
  margin-top: 60px;
}
.list_all li,.list li{
  text-align: left;

  width: 100%;
  background:rgb(241, 241, 241);
  padding: 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.1),0 1px 5px 0 rgba(0,0,0,.06);
 /* clip-path: polygon(0 0, 100% 0%, 56% 100%, 0% 100%); */
}

.JobTitle{
  font-weight: bolder;
  font-size: 2rem !important;
  color: #C36C26;
}
.desClass{
  font-size: 1.5rem;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
.clientHeadText{
  font-size: 3rem;
  font-weight: 800;
  text-transform:uppercase;
  letter-spacing: .2rem;
}
.SearchBtn{
outline: none !important;
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 220px;
	background-color: #fff;
	border-color: #007BFF;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
.disable{
  width:100px;
  height: 33px;
  font-size: 1.5rem !important;
  font-weight: bold;
  cursor: none;
}
.enable{
  border:1px solid #013444 !important;
  color: #51b74b;
  font-size: 1.5rem;
}
.applyButton{
  
}
.social-icon{
  list-style: none;
  position: fixed;
  right: 0;
  bottom: 50%;
}
.loginApply{
  font-weight: bold;
  color:red;
}
.noJob{
  display: none;
}

.noJobs{
  width: 50%;
  margin: auto;
  display: block;
}
.browseJob{
  display: none;
}

   
    
    .footer-right p,
    .footer_middle p {
      font-family: montserrat;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
    
    ul.footer_list {
      list-style: none;
      padding-left: 0px;
    }
    ul.footer_list li {
      color: rgba(0, 0, 0, 0.5);
      line-height: 1.6;
      font-weight: 500;
    }
    
    ul.footer_list li.phone {
      font-size: 22px;
        color: rgba(0, 0, 0, 1);
    }
    
    ul.footer_list li a {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500;
      text-transform: none;
    }
    ul.footer_list a:hover {
      color: rgba(54, 204, 142, 1);
      text-decoration: none;
      list-style: none;
    }
    
    .footer_middle h4, .footer-right h4 {
      font-family: montserrat;
      font-size: 24px;
    }
    
    
    .footer_middle {
      text-align: center;
      padding: 0;
    }
    
    .footer-right h4, .footer-left h4 {
      font-family: montserrat;
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    #hero-cta-email {
      height: 50px;
      width: 60%;
    }
    
    .hero-cta__form input {
      width: 100%;
      float: left;
      border: none;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding-left: 15px;
      font-size: 16px;
      line-height: 18px;
      height: 18px;
      font-family: raleway;
      font-weight: 400;
      opacity: 1;
      display: block;
      margin-top: 10px;
    }
    
    .hero-cta__form input:focus {
      outline: none;
    }
    
    .emailsignup {
      font-family: montserrat;
      font-size: 16px;
      margin-left: 15px;
      height: 50px;
      width: 30%;
      border: none;
     
      text-transform: uppercase;
      border-radius: 50px;
      margin-top: 10px;
    }
    
    .trustlogos {
      content: url(https://www.authenticireland.com/wp-content/uploads/2018/04/TopTrust1.png);
      margin: 10px auto;
      max-width: 100%;
    }
    
    .footer_trust_top {
      width: 100%;
      margin: 20px auto;
      text-align: center;
    }
    
    .footer_trust_top p {
      font-family: montserrat;
      font-size: 18px;
      font-weight: 400;
      color: rgb(0, 0, 0, 0.5);
    }
    
      .footer-left {
        padding-left: 0px;
        justify-content: flex-start;
      }
      .footer-right {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
      }
    
    .footer_main {
      margin: 20px 0px 20px 0px;
    }
    
    
    .footer_copyright p {
      font-size: 12px;
      color: rgb(0,0,0,0.5);
    padding-top: 20px;
    }
    
    .footer__partners img {
      float: right;
      margin: 10px auto;
      max-width: 100%;
    }
    /* BLOGS */
    .Blog_header{
      height: 90vh;
      background:url(../images/julius.jpg);
      background-repeat: no-repeat;
      background-clip: border-box;
      background-size: cover;
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80% 20%;
      display: flex;
      align-items: center;
      justify-content: center;

    }
   #blog-section{
      background: #C36C26;
      height:auto;
    }
    .Blog{
      color: white;
      margin-top: 5rem;
      color: #51b74b;
      backface-visibility: hidden;
    }
    .blogRow{
      margin: auto;
      width: 100%
    }
    .myCard{
      background: linear-gradient(45deg, #013444, #51b74b); 
      color: white;
      margin: 0 auto;   
      text-align: left; 
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      border-radius: 10px;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
   
    .blog_image{
      width: 100%;
      border-radius: 50px;
    }
    .Comment_name{
      font-weight: bolder;
      color: #86ff80;
    }
    .post_body{
      font-size: 1.5rem;
    }
    .aTagPost{
      font-size: 1.5rem;;
    }
    .aTagPost:hover{
      text-decoration: underline;
    }
    
    a.delete{
      color: red;
    }
    a.view{
      color: green;
      border: 1px solid white;
      padding: .5rem;
      border-radius: 5rem;
      text-align: center;
      float: unset; 
      font-size: 1.5rem; 
    }
    
    .blogError{
      text-align: center;
      font-weight: bolder;
      font-size: 2rem;
    }
    .blogCol, a.blogCol{
      font-size: 1.5rem;
      color: white ;
    }
    .commentSeachdiv{
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
    
    
    .PostTtitle{
    font-style: italic;
    }
    .postBody{
      line-height: 1.7rem;
      font-size: 1.5rem;
    }
    th,td{
      font-size: 1.5rem;
    }
    .singlePostbg{
      height: 65vh;
       background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.920)),
       url(../images/business-man-1031755_1280.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      color: white;
    }
    .singlePost{
      position: absolute;
      top: 40%;
      width: 80%;
      right: 10%;
    }
    .latestPostHeading{
      color: #51b74b;
      font-weight: bold;
    }
    .sectorblog{
      display: flex;
      justify-content: column;
      list-style: none;
      margin:0 auto;
      color: white;
      text-align: center;
      font-size: 1.5rem;
    }
    .sectorblog li{
      padding: 1.5rem;
    }
    .sectorblog li:nth-child(1){
      background: #013444;
      cursor: pointer;
    }
    .sectorblog li:nth-child(2){
     background: #51b74b;
     cursor: pointer;
    }
    .sectorblog li:nth-child(3){
     background: #C36C26;
     cursor: pointer;
    }
    .sectorblog li:nth-child(4){
     background: red;
     cursor: pointer;
    }
    .sectorblog li:nth-child(5){
     background: purple;
     cursor: pointer;
    }
    
    .subscribePost{
      border-top: 6px solid rgb(211, 214, 214);
      background: #F8FAFC;
    }
    .subscribePost input{
      height: 4rem;
    }
    .topNews{
      animation-name: moveleft;
      animation-duration: 1s;
    }
    @keyframes moveleft{
      0%{
        opacity: 0;
        transform:translateX(-100px);
      }
      80%{
        transform: translateX(10px)
      }
      100%{
        opacity: 1;
        transform: translate(0);
      }
    }
    .commentForm{
      display:"";
    }
    /* input.commentInput{
      box-shadow:none;
      outline: none;
    } */
    .postLikes{
      display: flex;
      list-style: none;
    }
    .postLikes li {
      margin-right: 2rem;
      
    }
    .thumbs{
      color:gray;
    }
    .commenting{
      font-size: 1.4rem;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }
    .sideIcons{

    }
    .commentHeaderP{
      font-size: 1.5rem;
      font-weight: 700;
    }
    .commenNum{
      font-size: 1rem;
    }
    .paginateArrow ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
    }
    .paginateButton{
      font-size: 2rem;
      border-radius:10px;
      box-shadow: none;
      outline: none;
      border: none;
    }
    .paginateButton::before{
      background:transparent;
      color:white;
      border: none;
      transform: translateY(-3px);
      Box-shadow:0 10px 20px rgba(0,0,0,.2);
    }
    .paginateButton:hover{
      background:black;
      color:white;
      border: none;
      transform: translateY(-3px);
      Box-shadow:0 10px 20px rgba(0,0,0,.2);
    }

   
    
    .paginateButton:active{
      transform: translateY(-1px);
      box-shadow: none;
      Box-shadow:0 5px 10px rgba(0,0,0,.2);
      outline: none;
    }
    .paginateButton:focus{
      outline: none;
      border: none;
      box-shadow: none;
    }
    .pages{
      font-weight: bolder;
    }
    
    @media (max-width: 768px) {
      
      .header{
        height: 100vh;
        background: url(../images/headerImg.jpg);
        
        background-clip: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .client_header{
        height: 60vh;
        background: linear-gradient(45deg, #2992d0, #51b74b); 
        display:static;
        margin-top:50px !important; 
      }
      .clientSearchHeading{
        font-size: 1.5rem !important;
      }
      #searchF{
        display: none;
      }
    
      .header_Content{
        left:50%;
      }
      .contact-section{
      height: auto; 
       clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 91%, 0 0);
      }
      .header_Content{
        width: 80%;
      }
      .formBox{
        position: static;
        margin-bottom: 20px;
      }
    
     .listCont{
       width: 100%;
       margin: auto;
     }
      ul.list{
        width: 90%;  
        grid-template-columns: auto;
        margin:  0 auto;
        
      }
      ul.list_all{
        width: 100%;  
        grid-gap: 20px;
        grid-template-columns:auto auto;
        margin:  auto;
      }
      .list li{
        width: 100%;
        
      }
      .footer_main {
        padding: 0px 0px 50px 0px;
      }
      .jobCreateTitle{
        position: static !important;
      }
      .browseJob{
        display: none !important;
      }
      .feature{
        text-align: center;
      }
      .blog_image{
        width: 10%;
        margin-top: 2rem;
        border-radius: 50px;
      }
      
      img.blog_imageTop{
        width: 80vw;
        height: auto;
        margin: 0 auto;
      }
    }

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

@media (max-width: 512px) {

  h1{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
  
  }
  h3{
    font-size: 1.5rem !important;
  }
  h6{
    font-size: 1rem;
  }
  .header{
    height: 70vh;
    background: url(../images/headerImg.jpg);
    
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

    h2.headerMain_text{
      font-size:1.3rem !important;
    }
    .rolesLength{
      font-size:1.5rem !important;
 
    }

    .Categories{
      font-size:1.5rem !important;
    }
    .contact-section{
      height: auto;
      clip-path: none;
    }
    .fillform{
      font-size:1.5rem !important;

    }
    .jobdescription{
      font-size: 1.3rem !important;
    }

    .footer_middle{
      font-size: 1rem !important;
    }
    ul.list{
      width: 90%;
      grid-template-columns: auto;
    }
    .formBox{
      position: static;
      margin-bottom: 20px;
    }
    ul.list_all{
      width: 100%;  
      grid-gap: 20px;
      grid-template-columns:90vw ;
      margin:  auto;
    }
    
    
}

.blog_imageTop{
  width: 700px;
  height: 100px;
  height: auto;
}

.pagination {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}



.opacity {
  opacity: 0.5;
}
.outline-none {
  outline: none;
  user-select: none; 
}

.paginateBtn{
  padding:1rem 1.5rem;
  font-size: 1.4rem;
  border: none;
}
.showPagesRanges{
  font-size: 1.4rem;
}
.spinner{
  width: 5%;
  margin:0 auto;
  display: none;;
}
@media screen and (min-width:513px) and (max-width:659px){
   .blog_image{
        width: 10% important;
        margin-top: 2rem;
        border-radius: 50px;
      }
}

@media (min-width: 768px) {
  .blog_image{
   display: none;
  }
}